@import "tailwindcss";

:root {
  --background: #f8fafc; /* Slate 50 */
  --foreground: #0f172a; /* Slate 900 */
}

@theme {
  --font-sans: var(--font-inter);
  --color-primary: #137fec;
  --color-background-light: #f8fafc;
  --color-background-dark: #101922;
}

/* Material Symbols alignment fix */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}

body {
  font-family: var(--font-sans);
}
